@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarie-theme</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <div class="container1">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <img src="~/assets/images/product/headerlogo.jpg" alt="logo">
            </div>
        </div>
        <div class="nav ">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn " onclick="closeNav()">&times;</a>
                <a asp-controller="home" asp-action="index" class="border-top border-bottom py-2">Home</a>
                <a asp-controller="product" asp-action="index" class="border-bottom py-2">Products</a>
                <a asp-controller="catalog" asp-action="index" class="border-bottom py-2">Catalog</a>
                <a asp-controller="contact" asp-action="index" class="border-bottom py-2">Contact</a>
                <a asp-controller="about" asp-action="index" class="border-bottom py-2">About</a>
                <a asp-controller="services" asp-action="index" class="border-bottom py-2">Services</a>
                <a asp-controller="blog" asp-action="index" class="border-bottom py-2">Blog</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="account" asp-action="logout" class="border-bottom py-2">Logout</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a asp-area="manage" asp-controller="dashboard" asp-action="index" class="border-bottom py-2">Admin</a>
                }
            </div>

            <span style="font-size:18px;cursor:pointer;padding-top: 6px;padding-right: 5px;" onclick="openNav()">
                &#9776; Menu
            </span>
            <a asp-controller="search" asp-action="index"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a asp-controller="account" asp-action="login"><i class="fa-regular fa-user"></i></a>
            <a asp-controller="basket" asp-action="index" class="position-relative">
                <i class="fa-solid fa-box-archive"></i> <span class="cartt shop-cart">0</span>
            </a>
        </div>
    </div>
    <div class="main">
        <h1>COLLECTION</h1>
        <h5><a asp-controller="home" asp-action="index">Home</a>/ Ceramic</h5>
    </div>

    <div class="shop-area py-5 ">
        <div class="container">
            <div class="row flex-row-reverse ">
                <div class="col-lg-9 ">
                    <div class="shop-top-bar py-3 px-2">
                        <div class="select-showing-wrap d-sm-flex d-block justify-content-between">
                            <div class="pt-4 pt-sm-0">
                                <a href="" class="text-decoration-none many-many text-black fs-5 bg-white ps-1 ">
                                    <i class="fa-solid fa-border-all"></i>
                                </a>
                                <a href="" class="text-decoration-none one-one text-black fs-5 ms-4 bg-white px-1 ">
                                    <i class="fa-solid fa-bars"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-bottom-area ">
                        <div class="many">
                            <div class="list row">
                                @foreach (var product in Model)
                                {
                                    <div class="box col-lg-4 mt-4">
                                        <div class="top">
                                            <img src="~/assets/images/product/@product.Image" alt="">
                                        </div>
                                        <div class="bottom">
                                            <h4>
                                                <a asp-controller="product" asp-action="detail" asp-route-id="@product.Id">@product.Title</a>
                                            </h4>
                                        </div>
                                        <div class="price">
                                            <div id="newprice">
                                                @product.Price
                                            </div>
                                            <del id="oldprice">
                                                @product.OldPrice
                                            </del>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        @foreach (var product in Model)
                        {
                            <div class="one">
                                <div class="row ">
                                    <div class="col-lg-12 col-12">
                                        <div class="  mt-4">
                                            <div class="row">
                                                <div class="col-lg-4 position-relative">
                                                    <a asp-controller="product" asp-action="detail" asp-route-id="@product.Id">
                                                        <img src="~/assets/images/product/@product.Image" class="w-100" alt="">
                                                    </a>
                                                </div>
                                                <div class="col-lg-8 d-flex align-items-center">
                                                    <div>
                                                        <h3 class=" d-block">
                                                            <a asp-controller="product" asp-action="detail" asp-route-id="@product.Id"
                                                               class="text-decoration-none text-black geometric ls-1 hover2 t-5 ">
                                                               @product.Title
                                                            </a>
                                                        </h3>
                                                        <div class="shop-list-price-ratting ">
                                                            <div class="ht-product-list-price ">
                                                                <span class="discounted-price ">
                                                                    <span class="money text-black fs-4">Rs. @product.Price</span>
                                                                </span>
                                                                <span class="price ps-2 ">
                                                                    <span class="money text-black text-decoration-line-through">Rs. @product.OldPrice</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="category">
                        <h2 class="py-3" style="border-bottom: 2px solid black;">Category</h2>
                        <button class="accordion">Stoneware ceramics</button>
                        <div class="panel">
                            <ul>
                                <li>Procelain ceramics</li>
                                <li>Earthernware ceramics</li>
                            </ul>
                        </div>
                        <button class="accordion">Artificial ceramics</button>
                        <div class="panel">
                            <ul>
                                <li>Popular ceramics</li>
                                <li>Mut pot</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price">
                        <h2 class="py-3 mb-3" style="border-bottom: 2px solid black;">Price</h2>
                        <span class="text-black ">The highest price is Rs. 150.00</span>
                        <div class="from-to">
                            <div class="from">
                                <span class="text-black">From ₹</span>
                                <input type="text" class="border py-2 d-block w-100" style="outline: none;" name="" id="">
                            </div>
                            <div class="to mt-2 mb-4">
                                <span class="text-black">To ₹</span>
                                <input type="text" class="border py-2 d-block w-100" style="outline: none;" name="" id="">
                            </div>
                            <a href="" class="text-decoration-none bg-black text-white  px-3 py-2">Clear</a>
                            <a href="" class="text-decoration-none bg-black text-white px-3 py-2 ms-2">Apply</a>
                        </div>
                        <button class="text-white bg-black d-block mt-5 py-2 w-100">Clear All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row signup align-items-center justify-content-between">
                <div class="col-lg-4">
                    <img src="https://cdn.shopify.com/s/files/1/0569/6090/9499/files/footer-logo-new-1_x70@2x.png?v=1639659835" class="w-50" alt="">
                </div>
                <div class="col-lg-4">
                    <div id="signup">
                        <h2>Don’t be shy - <a href="">Signup</a>and <a href="">stay updated </a>for future</h2>
                        <input type="email" placeholder="Your email address">
                        <button type="submit">Subscribe</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="social">
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest"></i></a>
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="footer row">
                <div id="help" class="col-lg-3">
                    <h5>Help</h5>
                    <a href="" class="px-0">Search</a>
                    <a href="" class="px-0">Career</a>
                    <a href="" class="px-0">Privacy policy</a>
                    <a href="" class="px-0">Terms & conditions</a>
                </div>
                <div id="information" class="col-lg-3">
                    <h5>Information</h5>
                    <a href="" class="px-0">Support</a>
                    <a href="" class="px-0">Help</a>
                    <a href="" class="px-0">Shipping Details</a>
                    <a href="" class="px-0">Orders</a>
                </div>
                <div id="contact" class="col-lg-3">
                    <h5>Contact us</h5>
                    <h6>Address</h6>
                    <p>No: 58 A, East Madison Street, Baltimore, MD, USA 4508</p>
                    <h6>Phone</h6>
                    <p>0000 - 123 - 456789</p>
                </div>
                <div id="footerlogo" class="col-lg-2">
                    <img src="https://cdn.shopify.com/s/files/1/0569/6090/9499/files/home-icon-1.png" class="w-75" alt="">
                </div>
            </div>
        </div>
    </div>


    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

</html>

